h1 {
    color: #ff4006;
    font-size: 500%;
    text-decoration: underline pink dotted 4px;
}


.intro {
    text-align: center;
    
}

#cat {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}