#title-let-H {
    color: #ff9d80;
}

#title-let-e {
    color: #6ddd6d;
}

#title-let-N {
    color: #ff902f;
}

#title-let-h {
    color: #ffe65b;
}

#title-let-o {
    color: #de700f;
}

#title-let-exclam {
    color: #0044a9;
}

.navlink-custom {
    color: #ffa787;
  
}